# Ignorar dependencias de Node.js
node_modules/



# Ignorar archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de build y compilación (ej. si usas React, Angular, Vue)
build/
dist/
.parcel-cache/
.pnpm-store/

# Ignorar archivos de sistema operativo
.DS_Store
Thumbs.db